/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap'); */

body {
	background: #F7F7F7;
	margin: 0;
	min-width: 320px;
}

#synoptive-container {
	position: relative;
	width: 100%;
	min-height: 400px;
	font-family: 'Open Sans', sans-serif;
}

#synoptive-container .loading_image {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -20px;
	background-image: url('/synoptive.app/images/loading.svg');
	background-repeat: no-repeat;
	z-index: 10;
}

#synoptive-container :focus {
	outline: none;
}

.synoptive {
	overflow: hidden;
	/* background-color: white; */
	font-weight: 500;
	line-height: 1.2;
	font-size: 14px;
	text-decoration: none;
	outline: none;
	width: 100%;
	color: #555555;
}

.synoptive .main_panel {
	display: block;
	/* max-width: 1200px; */
	margin: 0 auto;
	/* padding: 0 15px; */
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.synoptive .clear {
	clear: both;
}

.synoptive .collapsed {
	display: none;
}

.synoptive .empty {
	display: none;
}

.synoptive .hidden-step {
	display: none;
}

.synoptive .header_panel_container > .header_panel {
	padding: 5px;
}

.synoptive .stage_navigation_panel {
	margin-left: 15px;
}

.synoptive .stage_navigation_panel .header_panel {
	padding: 10px;
}

.synoptive .stage_navigation_panel .header_image {

}

.synoptive .stage_navigation_panel .header_text {

}

.synoptive .progress_panel {
	position: relative;
	padding: 10px;
}

.synoptive .back_widget_panel {
	float: left;
}

.synoptive .stage_panel {
	display: inline;
	margin-right: 10px;
	cursor: pointer;
}

.synoptive .stage_name {
	display: inline;
}

.synoptive .stage_image {
	display: inline;
}

.synoptive .stage_panel.current {
	border: 1px solid grey;
}

.synoptive .stage_panel.completed {

}

.synoptive .stage_panel.disabled {
	cursor: default;
}

.synoptive .stage_panel.disabled .stage_name {

}

.synoptive .stage_panel.disabled .stage_image {

}

.synoptive .stage_navigation_panel .action_panel {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.synoptive .action_panel.disabled {
	color: #777777;
	cursor: default;
}

.synoptive .next_stage_button {
	color: #333333;
	cursor: pointer;
}

.synoptive .next_stage_button.disabled {
	color: #777777;
	cursor: default;
}

.synoptive .direction_navigation_panel {
	margin-left: 5px;
	margin-bottom: 5px;
	width: 220px;
	text-align: center;
	position: relative;
}

.synoptive .direction_navigation_widget {
	display: block;
	color: #777777;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.synoptive .direction_navigation_widget:hover {
	border-bottom: 1px dotted #777777;
	cursor: pointer;
}

.synoptive .reset_widget_panel {

}

.synoptive .reset_widget_panel.disabled {
	cursor: default;
}

.synoptive .reset_widget {
	margin-left: auto;
	margin-right: auto;
}

#synoptive-container .powered_by_panel {
	font-size: 12px;
}

#synoptive-container .powered_by_panel a {
	text-decoration: none;
}

#synoptive-container .powered_by_label {
	display: inline;
	color: #888888;
}

#synoptive-container .name_label {
	display: inline;
	color: #444444;
	cursor: pointer;
}

.synoptive .powered_by_panel {
	position: static;
	font-size: 12px;
	margin-right: 10px;
	clear: left;
	margin-top: 20px;
}

.synoptive .toggle {
	border-bottom: 1px solid #aaaaaa;
}

.synoptive .step-root .toggle {
	display: inline-block;
	vertical-align: top;
	border-bottom: none;
	margin-right: 5px;
}

.synoptive .tab_handles {
	display: inline-block;
}

.synoptive .step-root > .tab_handles {
	/* border-bottom: 1px solid #aaaaaa; */
	min-width: 183px;
}

.synoptive .tab_handle {
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	/* border: 1px solid #aaaaaa; */
	border-bottom: none;
	position: relative;
	background-color: white;
	padding: 17px 15px;
}

.synoptive .tab_handle .tab_label {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	color: #787878;
	text-transform: uppercase;
	/* transition: color 0.3s linear; */
}

.synoptive .step-root > .tab_handle {
	display: block;
	margin: 0 0 6px;
}

.synoptive .step-root > .tab_handle:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 6px;
	background: #fff;
	transition: background 0.3s linear;
}

.synoptive .step-root > .tab_handle:hover .tab_label {
	color: #9E9D31;
}

.synoptive .tab_handle.selected {
	/* font-weight: bold; */
	/* top: 1.2px; */
}

.synoptive .step-root > .tab_handle.selected {
	top: inherit;
	box-shadow: 0 2px 3px 0 rgba(220, 216, 216, 0.5);
}

.synoptive .step-root > .tab_handle.selected:before {
	background: #9E9D31;
}

.synoptive .step-root > .tab_handle.selected .tab_label {
	color: #9E9D31;
}

.synoptive .step-root > .step_panel-tabs {
	display: block;
	margin: 0;
}

.synoptive .step-root .step_panel-tabs .toggle {
	display: block;
	margin: 0;
}

.synoptive .step-root .step_panel-tabs .tab_handles {
	display: block;
	padding: 0 13px;
}

.synoptive .step-root .step_panel-tabs .tab_handles .tab_handle {
	margin-right: 8px;
	padding: 12px 15px;
	min-width: 99px;
	text-align: center;
	border-radius: 8px 8px 0 0;
}

.synoptive .step-root .step_panel-tabs .tab_handles .tab_handle.selected {
	background: #9E9D31;
}

.synoptive .step-root .step_panel-tabs .tab_handles .tab_handle.selected .tab_label {
	color: #fff;
}

.synoptive .step-root .step_panel-tabs .tabs .toggle {
	display: block;
	margin-right: 0;
	background: #F6F6F6;
	border: 1px solid #eee;
	border-radius: 0;
	box-shadow: 0 1px 2px 0 rgba(122, 121, 121, 0.5);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handles {
	display: block;
	padding: 0 18px;
}

.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handle {
	background: none;
	padding: 19px 3px;
	min-width: 0;
}

.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handle.selected:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 3px;
	background: #9E9D31;
	border-radius: 60px;
}

.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handle .tab_label {
	color: #000;
	font-size: 12px;
	text-transform: capitalize;
}

.synoptive .prev_button {
	margin-right: 10px;
	cursor: pointer;
}

.synoptive .tab_handle.completed {

}

.synoptive .tabs {
	/* border: 1px solid #aaaaaa; */
	/* border-top: none; */
	clear: left;
}

.synoptive .step-root > .tabs {
	display: inline-block;
	vertical-align: top;
	/* border-top: 1px solid #aaaaaa; */
	width: 389px;
	border: none;
	background: #eee;
}

.synoptive .accordion {
	border-bottom: 1px solid #aaaaaa;
}

.synoptive .accordion .accordion_section {
	width: 100%;
	table-layout: fixed;
}

.synoptive .accordion .accordion_section a {
	text-decoration: none;
}

.synoptive .accordion .accordion_header {
	padding: 5px;
	border: 1px solid #aaaaaa;
	background-color: #eee;
	color: #555;
}

.tooltip_popup {
	margin-left: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.tooltip {
	position: relative;
	padding: 5px;
	padding-top: 3px;
	z-index: 10;
	background-color: white;
	color: #555555;
	border: 1px solid grey;
	cursor: pointer;
}

.dialog_glass {
	background-color: #000000;
	opacity: 0.3;
	z-index: 11;
}

.message_box {
	z-index: 12;
}

.message_box .Caption {
	background: #ebebeb url(/synoptive/images/hborder.png) repeat-x 0px -2003px;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #e3e3e3;
}

.message_box .dialogContent {

}

.message_box .dialogMiddleCenter {
	padding: 3px;
	background: white;
}

.message_box .dialogBottomCenter {
	background: url(/synoptive/images/hborder.png) repeat-x 0px -4px;
	-background: url(/synoptive/images/hborder_ie6.png) repeat-x 0px -4px;
}

.message_box .dialogMiddleLeft {
	background: url(/synoptive/images/vborder.png) repeat-y;
}

.message_box .dialogMiddleRight {
	background: url(/synoptive/images/vborder.png) repeat-y -4px 0px;
	-background: url(/synoptive/images/vborder_ie6.png) repeat-y -4px 0px;
}

.message_box .dialogTopLeftInner {
	width: 5px;
	zoom: 1;
}

.message_box .dialogTopRightInner {
	width: 8px;
	zoom: 1;
}

.message_box .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.message_box .dialogBottomRightInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.message_box .dialogTopLeft {
	background: url(/synoptive/images/corner.png) no-repeat -13px 0px;
	-background: url(/synoptive/images/corner_ie6.png) no-repeat -13px 0px;
}

.message_box .dialogTopRight {
	background: url(/synoptive/images/corner.png) no-repeat -18px 0px;
	-background: url(/synoptive/images/corner_ie6.png) no-repeat -18px 0px;
}

.message_box .dialogBottomLeft {
	background: url(/synoptive/images/corner.png) no-repeat 0px -15px;
	-background: url(/synoptive/images/corner_ie6.png) no-repeat 0px -15px;
}

.message_box .dialogBottomRight {
	background: url(/synoptive/images/corner.png) no-repeat -5px -15px;
	-background: url(/synoptive/images/corner_ie6.png) no-repeat -5px -15px;
}

.message_box .dialogTopLeftInner {
	width: 5px;
	overflow: hidden;
}

.message_box .dialogTopRightInner {
	width: 8px;
	overflow: hidden;
}

.message_box .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

.message_box .dialogBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

#flowplayer {
	display: none;
	/* without overflow set to hidden, fancybox will show unneeded scrollbars */
	overflow: hidden;
}

#gallery {
	display: none;
}

.synoptive .share_panel li {
	display: inline;
}

.synoptive .share_button {
	background: url('/synoptive/images/share/share_icons.gif') no-repeat;
	overflow: hidden;
	display: inline-block;
	height: 16px;
	width: 16px;
	line-height: 16px;
	cursor: pointer;
}

.synoptive .share_button_facebook {
	background-position: 0 -272px;
}

.synoptive .share_button_twitter {
	background-position: 0 -832px;
}

.synoptive .share_button_pinterest {
	background-position: 0 -656px;
}

.synoptive .share_button_tumblr {
	background-position: 0 -816px;
}

.synoptive .share_button_email {
	background-position: 0 -256px;
}

.synoptive .share_button_any {
	background-position: 0 -528px;
}

/* disable selection for svg elements */
.synoptive svg {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									 not supported by any browser */
}

.synoptive .questions_panel_container {
	display: none;
	width: 180px;
	vertical-align: top;
}

.synoptive .questions_panel {
	position: relative;
	display: block;
	padding: 5px;
}

.synoptive .questions_panel .header_panel {
	display: none;
}

.synoptive .question_panel {
	overflow: hidden;
	width: 100%;
}

.synoptive .question_label {
	font-weight: bold;
	color: #555555;
}

.synoptive .options_panel {
	margin-bottom: 3px;
	/* floated left to get shrink-wrapped border for mouse out events */
	float: left;
	margin-left: 10px;
}

.synoptive .options_panel.collapsed {
	display: none;
}

.synoptive .event_panel {
	display: inline;
}

.synoptive .options_panel-grid {
	display: inline-block;
}

.synoptive .option_panel {

}

.synoptive .option_panel:hover {
	cursor: pointer;
}

.synoptive .checkbox-option_panel {
	display: inline-block;
	margin: 0 3px;
	margin-top: -1px;
}

.synoptive .option_image_panel {
	border: 2px solid transparent;
}

.synoptive .option_image {
	width: 30px;
	height: 30px;
	outline: none;
	-moz-user-focus: none;
	-moz-outline: none;
}

.synoptive .option_panel .input_container {
	display: inline;
}

.synoptive .option_panel .input_label {
	display: inline;
}

.synoptive .option_label {
	display: inline;
	color: #333333;
	border-bottom: 1px solid transparent;
	outline: none;
	-moz-user-focus: none;
	-moz-outline: none;
}

.synoptive .option_panel-hover .option_label {
	color: black;
	border-bottom: 1px dotted #777777;
}

.synoptive .option_panel-hover .option_image_panel {
	margin: 1px;
	border: 1px solid #555555;
}

.synoptive .option_panel.selected .option_label {
	color: #555555;
	font-weight: bold;
}

.synoptive .option_panel.selected .text_box {
	border: 2px solid #555555;
}

.synoptive .option_panel.selected .option_image_panel {
	margin: 0px;
	border: 2px solid #555555;
}

.synoptive .option_panel.disabled .option_label {
	color: #999999;
}

.synoptive .option_panel-disabled:hover {
	cursor: default;
}

.synoptive .option_panel-disabled:hover .option_label {
	color: #999999;
}

.synoptive .option_panel-disabled:hover .option_image_panel {

}

.confirm_override_popup {
	padding: 10px;
	z-index: 1;
	background-color: white;
	color: #555555;
	border: 1px solid grey;
}

.confirm_override_popup .confirm_text {
	color: grey;
}

.confirm_override_popup .button_panel {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
}

.confirm_override_popup .button {
	border: 1px solid grey;
	background-color: white;
	color: #777777;
	margin-right: 10px;
}

.synoptive .composite_solution_panel {
	position: relative;
	/* display: inline-block; */
	/* 	width: 60%; */
	flex-grow: 1;
	/* 	flex-shrink: 0; */
}

.synoptive .composite_views {
	position: relative;
}

.synoptive .composite_views .action_label {

}

.synoptive .composite_view_tabs {
	position: relative;
	/* border-top: 1px solid #aaa; */
	border: none;
}

.synoptive .composite_views .tabs-single_tab {
	max-width: 800px;
	margin-left: auto;
}

.synoptive .composite_views .image_map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.synoptive .composite_views .image_map .glass_image, .synoptive .composite_views .map_overlay_images .image {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
}

.synoptive .composite_views .image_map .glass_image {
	width: 100%;
	height: 100%;
	z-index: 101;
}

.synoptive a.view_zoom_anchor {

}

.synoptive a.view_zoom_anchor .custom_panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.synoptive .view_layers_container {
	position: relative;
}

.synoptive .view_layers_container:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.synoptive .view_layers {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.synoptive .view_layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.synoptive .layer_image {
	border: none;
	width: auto;
	position: relative;
	max-width: 100%;
}

.synoptive .composite_solution_panel .action_panel {
	display: none;
	border: 1px solid #aaa;
	padding: 10px 20px;
}

.synoptive .composite_solution_panel .action_panel:hover {
	border-bottom: 1px dotted;
	cursor: pointer;
}

.synoptive .composite_solution_panel .action_panel.disabled {
	cursor: default;
}

.synoptive .composite_solution_panel .action_panel-disabled:hover {

}

.synoptive .composite_solution_panel .custom_panel {
	display: none;
}

.synoptive .share_panel {
	z-index: 1;
}

.synoptive .share_panel ul {
	list-style: none;
}

.synoptive .share_panel li {
	display: inline;
}

.synoptive .line_item_summary {
	position: relative;
	margin: 10px 0 0 auto;
	/*display: none;*/
	max-width: 500px;
	background: #fff;
}

.synoptive .line_item_summary:before {
	content: 'Cart Overview';
	display: block;
	/* 	font-size: 14px; */
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #9E9D31;
	border-bottom: 2px solid #9E9D31;
	padding: 10px 12px;
}

.synoptive .part_line_items {
	font-size: 12px;
	margin: 0;
	border-bottom: 1px solid #E6E6E6;
	padding: 8px 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.synoptive .part_line_items + .part_line_items {
/* 	border-top: 1px solid #E6E6E6; */
}

.synoptive .price {
	text-align: right;
	font-weight: 600;
	color: #000;
}

.synoptive .total_price_label {
	float: left;
}

.synoptive .pricing {
	padding: 12px 15px;
}

.synoptive .total_price {
	font-size: 17px;
	font-weight: 600;
	color: #000;
	text-align: right;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.synoptive .total_price:before {
	content: 'Total';
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	text-align: left;
}

.synoptive .discounted_price_label {
	float: left;
}

.synoptive .discounted_price {
	text-align: right;
}

.synoptive .part_line_items .header_panel .label {
	font-weight: 600;
	color: #000;
}

.synoptive .line_item {
	width: 100%;
}

.synoptive .line_item_price {
	display: inline-block;
	width: 15%;
	text-align: right;
}

.synoptive .line_item_name {
	display: inline-block;
	/* margin-right: 10px; */
	width: 35%;
	font-weight: 600;
	color: #000;
}

.synoptive .line_item_name:after {
	content: ":";
}

.synoptive .line_item_value {
	display: inline-block;
	width: 50%;
	color: #787878;
}

.synoptive .box_panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.synoptive .grid .box_panel {
	display: inline-block;
	vertical-align: top;
}

.synoptive .grid-2 .box_panel, .synoptive .grid-3 .box_panel, .synoptive .grid-4 .box_panel {
	width: 298px;
	height: 298px;
}

.synoptive .grid-2 .box_panel {
	margin-top: 25%;
}

.synoptive .grid-5 .box_panel, .synoptive .grid-6 .box_panel, .synoptive .grid-7 .box_panel, .synoptive .grid-8 .box_panel, .synoptive .grid-9 .box_panel {
	width: 194px;
	height: 194px;
}

.synoptive .grid-5 .box_panel, .synoptive .grid-6 .box_panel {
	margin-top: 11%;
}

.synoptive .zoom .box_panel {
	display: none;
	margin-top: 0;
}

.synoptive .zoom .box_panel.zoomed {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.synoptive .box_panel .toggle_trigger {
	/* most apps don't use grid layouts so disable by default */
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
	cursor: pointer;
}

.synoptive .box_panel .deselect_trigger {
	position: absolute;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	bottom: 5px;
	right: 5px;
	z-index: 102;
	cursor: pointer;
}

.synoptive .zoom .box_panel .deselect_trigger {
	display: none;
}

.synoptive .box_panel .deselect_trigger .text {
	padding: 0;
	border: 0;
	cursor: pointer;
}

/* depends on solution_thumbnails.css -- don't use import because all the css files get concatenated for production */
.synoptive .scrolling_thumbnails_grid {
	position: relative;
	overflow: hidden;
}

.synoptive .scrolling_viewport_panel {
	position: relative;
	overflow: auto;
	padding: 5px;
}

.synoptive .scrolling_view_panel {
	height: auto;
}

.synoptive .substeps_panel .scrolling_viewport_panel {
	padding: 21px 32px;
}

.synoptive .substeps_panel .scrolling_view_panel {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.synoptive .step_panel-thumbnails {

}

.synoptive .header_panel-step_panel-thumbnails {

}

.synoptive .header_image-step_panel-thumbnails {

}

.synoptive .header_text-step_panel-thumbnails {

}

.synoptive .solution_thumbnail_panel {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	/* border: 1px solid grey; */
	padding: 10px;
	/* margin: 5px; */
	/* margin-right: 10px; */
	position: relative;
	width: 33.33%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.synoptive .step_panel.label_option .scrolling_viewport_panel {
	padding: 10px 8px 2px;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel {
	width: calc(50% - 16px);
	padding: 0;
	background: #fff;
	border: 1px solid #CDCDCD;
	border-radius: 8px;
	overflow: hidden;
	margin: 0 8px 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel .solution_thumbnail_image_panel {
	width: 50px;
	margin: 0;
	border: 1px solid #CDCDCD;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 8px 0 0 8px;
	/* 	display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center; */
	display: none;

	/* transition: background 0.3s linear, border-color 0.3s linear; */
}

.synoptive .step_panel.label_option .solution_thumbnail_panel .solution_thumbnail_image_panel svg path {
	stroke: #000;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel.selected .solution_thumbnail_image_panel svg path {
	stroke: #fff;
}

.synoptive .step_panel.label_option .solution_thumbnail_image_panel {
	height: 40px;
	position: static;
}

.synoptive .step_panel.label_option .solution_thumbnail_image_panel:after {
	left: auto;
	right: 15px;
	background-image: url(https://gitlab.com/bibekrimal/oasis-images/raw/master/icon-check-green.svg);
}

.synoptive .step_panel.label_option .solution_thumbnail_panel .ellipsis_label {
	height: 40px;
	padding: 4px 27px 3px;
	text-align: left;
	/* 	border: 1px solid #CDCDCD; */
	/* 	border-radius: 0 20px 20px 0; */
	/* 	border-left: none; */
	flex-grow: 1;
	/* font-size: 14px; */
	/* line-height: 1.2; */
	/* font-weight: 500; */
	text-transform: uppercase;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	transition: padding 0.3s linear;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel .ellipsis_label:after {
	content: '';
	width: 15px;
	height: 10px;
	background: url(https://gitlab.com/bibekrimal/oasis-images/raw/master/icon-check-green.svg) no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	display: none;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel.selected {
	border-color: #9E9D31;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel.selected .ellipsis_label {
	/* padding-right: 37px; */
}

.synoptive .step_panel.label_option .solution_thumbnail_panel.selected .ellipsis_label:after {
	display: block;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel .ellipsis_label .solution_thumbnail_label {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel.selected .ellipsis_label .solution_thumbnail_label {
	color: #9E9D31;
}

.synoptive .step_panel.label_option .solution_thumbnail_panel.selected .solution_thumbnail_image_panel {
	background: #9E9D31;
	border-color: #9E9D31;
}

.synoptive .solution_thumbnail_panel a, .synoptive .solution_thumbnail_panel a:hover, .synoptive .solution_thumbnail_panel a:active {
	text-decoration: none;
}

.synoptive .solution_thumbnail_panel:hover {
	cursor: pointer;
}

.synoptive .solution_thumbnail_panel.selected {
	/* border: 2px solid #555555; */
	/* margin: 0; */
	/* margin-right: 9px; */
	/* border: none; */
}

.synoptive .solution_thumbnail_panel.invalid {
	margin: 4px;
	margin-right: 9px;
}

.synoptive .solution_thumbnail_panel .input_container {
	display: inline;
}

.synoptive .solution_thumbnail_panel .input_label {
	display: inline;
}

.synoptive .solution_thumbnail_panel input {
	border: 2px solid #aaa;
}

.synoptive .solution_thumbnail_panel.invalid input {
	border: 2px solid red;
}

.synoptive .solution_thumbnail_anchor {

}

.synoptive .ellipsis_label {

}

.synoptive .solution_thumbnail_label {
	text-overflow: ellipsis;
	color: #85857E;
	font-size: 13px;
	line-height: 1.2;
	font-weight: normal;
}

.synoptive .step_panel .solution_thumbnail_panel.highlighted a {
	text-decoration: underline;
}

.synoptive .solution_thumbnail_image_panel {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}

.synoptive .solution_thumbnail_image_panel {
	width: 66px;
	height: 66px;
	border-radius: 8px;
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
}

.synoptive .solution_thumbnail_image_panel:after {
	content: '';
	width: 18px;
	height: 12px;
	background: url(https://gitlab.com/bibekrimal/oasis-images/raw/master/icon-check.svg) no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: none;
}

.synoptive .solution_thumbnail_panel.selected .solution_thumbnail_image_panel:after {
	display: block;
}

.synoptive .solution_thumbnail_image {
	height: auto;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.synoptive .solution_thumbnail_image_overlay {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
}

.synoptive .thumbnail_row_end {
	float: none;
	clear: left;
}

.synoptive .details_trigger {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.synoptive .solutions_panel_container {
	position: relative;
	display: inline-block;
	vertical-align: top;
	/* margin-left: 10px; */
	width: 40%;
	flex-grow: 0;
	flex-shrink: 0;
	padding-left: 10px;
	min-width: 577px;
}

.synoptive .solutions_panel {
	color: #555555;
	/* padding: 5px; */
}

.synoptive .welcome_panel {

}

.synoptive .welcome_label {
	display: block;
	color: white;
	line-height: 22px;
	width: 100%;
}

.synoptive .welcome_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.synoptive .header_panel-solutions_panel {

}

.synoptive .header_image-solutions_panel {

}

.synoptive .header_text-solutions_panel {

}

.synoptive .selection_panel {

}

.synoptive .selection_panel .separator {
	float: left;
	width: 0;
	height: 0;
}

.synoptive .step_panel {
	margin-bottom: 5px;
}

.synoptive .step_panel .step_panel {
	/* padding: 5px; */
}

.synoptive .step_panel .step_panel .header_panel .header_label {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 500;
	color: #000;
	padding: 12px 15px;
}

.synoptive .step_panel-tabs {
	position: relative;
}

.synoptive .step_panel-tab {
	position: relative;
}

.synoptive .step_panel-tab .next_tab_widget {
	cursor: pointer;
}

.synoptive .step_panel .tab_title {

}

.synoptive .step_panel .tab {

}

.synoptive .step_nav_panel {
	display: inline-block;
	display: none;
}

.synoptive .step_nav_button {
	cursor: pointer;
}

.synoptive .nav_panels_container .step_nav_panel {
	width: 50%;
}

.synoptive .nav_panels_container .prev_step_panel {
	text-align: left;
}

.synoptive .nav_panels_container .next_step_panel {
	text-align: right;
}

.synoptive .prev_step_panel {
	text-align: left;
}

.synoptive .next_step_panel {
	text-align: right;
}

.synoptive .solution_details_panel {
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #aaaaaa;
	clear: left;
}

.synoptive .details_image_panel {

}

.synoptive .details_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	width: auto;
	height: 200px;
}

.synoptive .zoom_label {

}

.synoptive .details_thumbnails_panel {

}

.synoptive .details_thumbnail_panel {

}

.synoptive .details_thumbnail_image {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
}

.synoptive .highlight_action_anchor {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.synoptive .details_description {
	color: #333333;
}

.synoptive button {
	color: #050505;
	/* 	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #dbdbdb 50%, #b5b5b5);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		color-stop(0.50, #ebebeb), color-stop(0.50, #dbdbdb), to(#b5b5b5)); */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #949494;
}

.synoptive button.disabled {
	color: #777777;
}

.synoptive .step_panel .next_step_button {
	cursor: pointer;
}

.synoptive .solutions_panel .shuffle_button {
	cursor: pointer;
}

#details_popup {
	width: 200px;
	z-index: 2;
	background-color: white;
	padding: 20px;
}

#details_popup .close_panel {
	cursor: pointer;
}

#details_popup_glass {
	background-color: black;
	opacity: .3;
	z-index: 1;
}

#babylonjsLoadingDiv {
	z-index: 11;
}

.fancybox-content.share-form {
	border-top: 4px solid #CECE98;
	border-radius: 0 0 8px 8px;
	font-family: 'Open Sans', sans-serif;
}

.fancybox-content.share-form h2 {
	margin: 0 0 20px;
	font-size: 22px;
	line-height: 1.2;
	font-weight: bold;
	display: none;
}

.fancybox-content.share-form p {
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
}

.fancybox-content.share-form p.controls {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.fancybox-content.share-form input[type="text"],
.fancybox-content.share-form input[type="email"],
.fancybox-content.share-form textarea {
	width: 100%;
	height: 47px;
	font: 14px/1.2 'Open Sans', sans-serif;
	border: 1px solid #CECDCD;
	border-radius: 5px;
	padding: 5px 14px;
	color: #7B7B7B;
}

.fancybox-content.share-form textarea {
	height: 143px;
	padding-top: 17px;
	padding-bottom: 17px;
	background: url(https://gitlab.com/bibekrimal/oasis-images/raw/master/resizer.svg) no-repeat 99.7% 97.7%;
	background-size: 16px 14px;
	resize: none;
}

.fancybox-content.share-form input::-webkit-input-placeholder,
.fancybox-content.share-form textarea::-webkit-input-placeholder {
  color: #7B7B7B;
}
.fancybox-content.share-form input::-moz-placeholder,
.fancybox-content.share-form textarea::-moz-placeholder {
  color: #7B7B7B;
}
.fancybox-content.share-form input:-ms-input-placeholder,
.fancybox-content.share-form textarea:-ms-input-placeholder {
  color: #7B7B7B;
}
.fancybox-content.share-form input:-moz-placeholder,
.fancybox-content.share-form textarea:-moz-placeholder {
  color: #7B7B7B;
}

.fancybox-content.share-form .error input[type="text"],
.fancybox-content.share-form .error input[type="email"] {
	background: url(https://gitlab.com/bibekrimal/oasis-images/raw/master/error.svg) no-repeat 98% 50%;
	background-size: 24px 24px;
}

.fancybox-content.share-form .fancybox-button {
	width: 48px;
	height: 48px;
}

.fancybox-content.share-form .fancybox-button svg {
	opacity: 1;
}

.fancybox-content.share-form .fancybox-button svg path {
	stroke-width: 0;
	fill: #7B7B7B;
}

@media screen and (max-width: 1199px) {
	.synoptive .solutions_panel_container {
		min-width: 488px;
	}

	.synoptive .step-root > .tabs {
		width: 300px;
	}

	.synoptive .substeps_panel .scrolling_viewport_panel {
		padding: 10px 13px;
	}

	.synoptive .solution_thumbnail_panel {
		padding: 5px;
	}

	.synoptive .solution_thumbnail_label {
		font-size: 11px;
	}

	.synoptive .step_panel .step_panel .header_panel .header_label {
		font-size: 18px;
	}

	.synoptive .step_panel.label_option .solution_thumbnail_panel .ellipsis_label .solution_thumbnail_label {
		font-size: 12px;
	}

	.synoptive .step_panel.label_option .solution_thumbnail_panel .ellipsis_label:after {
		width: 12px;
		height: 8px;
		right: 9px;
	}

	.synoptive .step_panel.label_option .solution_thumbnail_panel .ellipsis_label {
		padding: 4px 25px 3px;
	}

	.synoptive .step_panel.label_option .solution_thumbnail_panel.selected .ellipsis_label {
		/* 		padding-right: 25px; */
	}

	.synoptive .step-root .step_panel-tabs .tab_handles .tab_handle {
		min-width: 50px;
		padding: 8px 12px;
	}

	.synoptive .tab_handle .tab_label {
		font-size: 12px;
	}

	.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handles {
		padding: 0 5px;
	}

	.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handle {
		padding: 12px 0;
		margin-right: 8px;
	}

	.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handle .tab_label {
		font-size: 11px;
	}

	.synoptive .step-root .step_panel-tabs .tabs .toggle .tab_handle.selected:after {
		height: 2px;
	}
}

@media screen and (max-width: 1023px) {
	.synoptive .main_panel {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.synoptive .composite_solution_panel {
		width: 420px;
		height: 420px;
		margin-bottom: 20px;
	}

	.synoptive .solutions_panel_container {
		margin-left: 0;
		min-width: 0;
		width: auto;
		padding-left: 0;
	}
}

@media screen and (max-width: 767px) {
	.synoptive .solutions_panel_container {
		/* max-width: 390px; */
		/* margin: 0 auto; */
	}

	.synoptive .composite_solution_panel {
		width: 220px;
		height: 220px;
		margin-bottom: 10px;
	}

	.synoptive .step-root .toggle {
		margin: 0;
		display: block;
	}

	.synoptive .step-root > .tab_handles {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		/* justify-content: center; */
		width: 100vw;
		/* padding: 0; */
		overflow-x: auto;
		background: #fff;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.synoptive .step-root > .tab_handle {
		padding: 13px 3px;
		margin: 0 4px;
	}

	.synoptive .step-root > .tab_handle:before {
		height: 2px;
		width: auto;
		right: 0;
		/* left: 5px; */
		top: auto;
	}

	.synoptive .step-root > .tab_handle.selected {
		box-shadow: none;
	}

	.synoptive .tab_handle .tab_label {
		font-size: 11px;
		white-space: nowrap;
	}

	.synoptive .step-root > .tabs {
		display: block;
		width: 100%;
		max-width: 390px;
		margin: 0 auto;
	}

	.synoptive .step_panel .step_panel .header_panel .header_label {
		font-size: 16px;
		padding: 10px 12px;
	}

	.synoptive .solution_thumbnail_image_panel {
		width: 50px;
		height: 50px;
	}

}

/* -- PDF/Email --- */
.synoptive .finish_buttons {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	width: 577px;
}

#synoptive-container form.share-form .button,
.synoptive .finish_button {
	display: inline-block;
	border: 2px solid #9E9D31;
	padding: 13px 0;
	font-size: 12px;
	line-height: 1.25;
	font-weight: bold;
	transition: background 0.25s linear, color 0.25s linear;
	/* width: auto; */
	text-align: center;
	flex-grow: 1;
	flex-basis: 100px;
	cursor: pointer;
	position: relative;
	color: #9E9D31;
	border-radius: 6px;
}

#synoptive-container form.share-form .button {
	min-width: 190px;
	flex-grow: 0;
	flex-shrink: 0;
}

#synoptive-container form.share-form .button:hover,
#synoptive-container form.share-form .button:focus,
.synoptive .finish_button:hover,
.synoptive .finish_button:focus {
	background-color: #9E9D31;
	color: #fff;
}

#synoptive-container form.share-form .button.disabled,
.synoptive .finish_button.disabled {
	cursor: initial;
	color: lightgray;
	border-color: #9e9b61;
}

#synoptive-container form.share-form .button.disabled:hover,
#synoptive-container form.share-form .button.disabled:focus,
.synoptive .finish_button.disabled:hover,
.synoptive .finish_button.disabled:focus {
	background-color: #fafafa;
}

.synoptive .finish_buttons .divider {
	width: 11px;
	flex-grow: 0;
	flex-shrink: 0;
}

#synoptive-container form.share-form .button > div.progress_bar,
#synoptive-container .synoptive .finish_button > div.progress_bar {
	display: none;
}

#synoptive-container form.share-form .button.in-progress > div.progress_bar,
#synoptive-container .synoptive .finish_button.in-progress > .progress_bar {
	display: block;
}






